.loading_container_wrapper {
    position: relative;   
  }

.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* set postion to relative to set width to parent container*/
    background: rgba(250, 203, 203, 0.468);    
    z-index: 1;
    padding-bottom: 200px;   
    
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #f71111 transparent #fc7575 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 40em) {
    .loader-container {
        width: 100%;
    }
   
}