/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.menu-link{
  margin: 2, 0;
  color: aliceblue;
  display: block;
  text-transform: capitalize; 
  font-size: small;
  text-decoration: none;
 }
 .errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight:200;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width:95%;
  text-wrap: wrap;
  overflow-wrap: break-word;   
}

@media screen and (max-width: 641px) {

}